*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:white;
    font-family: sans-serif;
    
}

    

nav{
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
    background-color: gray;
    position: fixed;
    width: 100%;
}
.navlinks{
    flex:1;
    display: flex;
    background-color:gray;
    align-items: center;
    justify-content: space-between;
}
.logo{
    text-transform: uppercase;
    font-size: 40px;
}
.logo span{
    color: orange;
}
nav ul{
    display: flex;
    list-style: none;
    margin: auto;
}
nav ul li{
    margin:0 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.5s;
}
.social a{
    margin: 0 10px;
}
nav ul li a:hover{
    color:orange;
}
nav ul li a::after{
    content: "";
    display: block;
    height:2px;
    width: 0;
    background-color: orange;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;
}
.social a i{
    transition: 0.5s;
}
.social a i:hover{
    color: orange;

}
.button:hover{
    background-color: orange;
}
.habits{
    display:inline
}
.object{
    display: inline;
}
p{
    font-size: 35px;
    color: #000;
    text-align: center;
}
img{
    height: 400px;
    justify-content:center;
    margin-left: 700px;
    
}
.image{
    display: inline;
    justify-content: center;
    align-items: center;
    
    
    
    margin-top:  50px ;
}

p a{
    color:gray;
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;}
.phrase{
    font-size: 30px;
    text-align: left;
}
.y{
    text-align: center;
    background-color: #000;
    text-decoration: none;
}
footer{
    background: #000;
    padding-top: 50px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}
.container1{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
    color: white;
    font-size: 20px;
    
}
.footer-content ul{
    text-align: center;
    
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;

}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color:white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: yellow;
}
.bottom-bar{
    background: gray;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: white;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}